body {
  background-color: rgb(158, 158, 152);
}

.top {
  width: 300px; /*LARGURA WIDTH LARGURA WIDTH*/
  height: 300px; /*HEIGHT ALTUTA HEIGHT ALTURA*/
  box-shadow: 0 0 1em rgb(15, 203, 236);
  padding: 20px;
  border-radius: 9px;
  background: white;
  display: inline-block;
  overflow: space-between;
  margin: 10px;
}

.title {
  font-size: 21px;
  font-family: Tahoma;
  padding: 7px;
  text-align: center;
}

.text {
  padding: 30px;
  margin-bottom: 4px;
  text-align: center;
}

.father-btn {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(226, 220, 220);
  padding: 50px;
}

.btn {
  color: rgb(6, 7, 6);
  background-color: rgb(26, 163, 197);
  height: 20px;
  width: 70px;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
}

.btn2 {
  color: rgb(14, 15, 14);
  background-color: rgb(26, 163, 197);
  height: 20px;
  width: 70px;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
}

.top2 {
  width: 300px;
  height: 250px;
  border: 2px solid black;
  padding: 20px;
  border-radius: 9px;
  background: rgb(247, 169, 169);
  display: inline-block;
  overflow: space-between;
}
.father-btn1 {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgb(226, 220, 220);
  padding: 50px;
}

.btn1 {
  color: rgb(6, 7, 6);
  background-color: rgb(192, 32, 157);
  height: 20px;
  width: 70px;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
}

.btn21 {
  color: rgb(14, 15, 14);
  background-color: rgb(192, 32, 157);
  height: 20px;
  width: 70px;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
}

.btn1:hover {
  color: rgb(6, 7, 6);
  background-color: rgb(209, 23, 200);
  height: 20px;
  width: 70px;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
}

.btn21:hover {
  color: rgb(14, 15, 14);
  background-color: rgb(209, 23, 200);
  height: 20px;
  width: 70px;
  padding: 7px;
  border-radius: 4px;
  text-align: center;
  transition: all 0.3s;
}

.card1 {
  background-color: white;
  border: 0.1px solid rgb(202, 206, 202);
  width: 205px;
  height: 170px;
  border-radius: 4px;
}

.title1 {
  font-size: 21px;
  text-align: center;
  padding: 20px;
}

.text1 {
  font-size: 14px;
}

.family1 {
  height: 58px;

  background-color: silver;
}

.btn-1 {
  border: 2px solid black;
  color: rgb(243, 247, 243);
  background-color: rgb(74, 99, 241);

  text-align: center;
  border-radius: 4px;
  align-items: center;
  transition: all 0.3s;

  width: 200px;
  height: 50px;
  line-height: 50px;
  border-radius: 7px;
  cursor: pointer;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; 
}