* {
  padding: 0;
  margin: 0;
}
.top {
  height: 60px;
  width: 100%;
  border-bottom: 1px rgb(227 223 223) solid;

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  width: 200px;
  height: 60px;
  border: 1px red solid;
  display: flex;
  align-items: center;
  justify-content: center;
  /* overflow: hidden; */
}

.img-logo {
  width: 120px; /*largura */
  border: 1px solid blue;
}

.center {
  width: 350px;
  height: 60px;
  border: 1px solid pink;
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: 1px solid rgb(190, 192, 190);
  border-radius: 60px;
  height: 50px;
  width: 100%;
  background-color: rgba(22, 24, 35, 0.06);
}
