@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin: 0;
    padding: 0;
    background: url('./imagens/bg-repeat.png') repeat;


}

.container-geral {
    height: 750px;
    min-width: 600px;
}

.container-top {
    margin-bottom: 98px;
    margin-top: 176px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    color: #1a8cff;
    justify-content: space-evenly;

}

.links-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    width: 250px;
    font-size: 12px;
}

.container-top img {

    width: 55px;
    height: auto;
    margin-right: 160px;
    margin-left: 160px;
    border-radius: 100%;
}



.links-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: 600;
    font-size: 12px;
    width: 250px;
}




.pai-texto-titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.texto-titulo,
h1 {
    margin: 0;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 48px;

}

.front {
    display: flex;
    justify-content: center;
    font-size: 22px;
    margin-bottom: 25px;
}

.btn-disponivel {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ffe300;
    background-color: #ffe300;
    border-radius: 14px;
    cursor: pointer;
    font-weight: 600;
    font-size: 13px;
    width: 212px;
    height: 27px;
}

section{
    width:100%;
    max-width:1100px;
    margin:auto;
    margin-top:100px;
}

.titulo {
    font-size: 20px;
    width: 100%;
    max-width:900px;
    margin:auto;
    margin-bottom: 60px;
}

.pai-works {
    display: flex;
    margin: auto;
    border: 1px solid black;
    width: 900px;
    flex-direction: column;

}
 

.work img {
    width: 100%;
    height: auto;

    transition: all 3s;
}

.work{
    width: 100%;
    min-width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 35px;
    min-height: 500px;
}

.work:hover img{
    transform:translateY(-80px);

    transition: all 3s;
}

 
.sobre {
    padding-right:60px;
}

.sobre p {
    text-align: left;
}

.informacao-rodape {
    display: flex;
    flex-direction: row;
    width:100%;
    max-width: 900px;
    margin: auto;
    word-wrap: break-word;
}

.topnav {
    display: flex;


    overflow: hidden;
}

.topnav a {

    display: flex;
    justify-content: center;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    color: #007fff;
}

.topnav a:hover {
    color: black;
}

.topnav li {
    text-decoration: none;
    list-style-type: none;
}