* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.container-geral {
  width: 100%;
  height: 100%;
  display: flex;
}

.container-left {
  width: 138%;
  max-width: 270px;
  height: 750px;
  overflow: hidden;
  margin-top: 19px;
}
.tres-btn {
  display: flex;
  margin: 19px 20px;
}
.btn-red {
  color: red;
  border: 1px solid rgb(170, 6, 6);
  background-color: red;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}
.btn-yellow {
  color: rgb(241 241 56);
  border: 1px solid rgb(229 229 0);
  background-color: rgb(241 241 56);
  border-radius: 100%;
  width: 13px;
  height: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}
.btn-green {
  color: green;
  border: 1px solid rgb(2, 83, 2);
  background-color: green;
  border-radius: 100%;
  width: 13px;
  height: 13px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin-left: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .container-left {
    display: none;
  }
}
.menu-hamburguer {
  width: 16px;
  height: 20px;
  margin-left: 115px;
  opacity: 0.5;
}
.container-right {
  height: 750px;
  background-color: rgba(157, 149, 206, 0.199);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 4px 19px;
}

.logo {
  width: 100%;
}
.menu-geral {
  width: 90%;
  margin: auto;
}
.menu-item {
  border-radius: 10px;
  height: 40px;
  color: #767373;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 13px;
}
.menu-item:hover {
  background-color: #05111c;
  color: white;
}
.menu-item svg {
  margin-right: 10px;
}
.menu-item:hover svg {
  fill: silver;
}

.sub-title-banner {
  color: rgb(8, 8, 8);
  font-size: 29px;
  font-weight: 600;
}
.sub-title {
  color: silver;
  font-size: 11px;
}

#divBusca {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.lupa img {
  position: relative;
  margin-left: 19px;
  width: 16px;
  height: 16px;
}
.back svg {
  width: 20px;
  height: 20px;
}
.next svg {
  width: 20px;
  height: 20px;
}
.lupa {
  width: 10px;
  height: 20px;
}
#txtBusca {
  background-color: #ffffff;
  border: 1px solid rgb(243, 228, 228, 1);
  border-radius: 22px;
  width: 100%;
  height: 37px;
  display: flex;
  align-content: center;
  padding: 1px 37px;
}

.btns {
  display: flex;
  align-items: center;
  padding-left: 9px;
  width: 132px;
}
.back {
  margin-right: 27px;
}

.banner {
  display: flex;
  font-size: 11px;
  margin-bottom: 40px;

  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  width: 29px;
  text-align: center;
}
.top {
  display: flex;
  height: 100px;
}

.title-banner {
  display: flex;
  align-items: center;
}

.title-banner p {
  font-size: 12px;
  color: rgba(0, 49, 87, 0.7);
}

.title-banner svg {
  width: 25px;
  height: 20px;
}
.show-more {
  color: #7e7c7c;
  font-size: 13px;
  display: flex;
  align-items: end;
}
.banner-artist {
  display: flex;
  font-size: 11px;
  margin-bottom: 23px;
  height: 205px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-image: url(https://images.unsplash.com/photo-1648471533584-e7c5040a5db2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto, contain, 100%;
  position: relative;
  border-radius: 17px;
}
.banner-left {
  z-index: 1;
  padding: inherit;
}
.cover-color {
  height: 100%;
  width: 84%;
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 1) 24%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.sub-title-Ontop {
  height: 92px;
  width: 151px;
  font-size: 25px;
  font-weight: 600;
}
.artist {
  margin-bottom: 10px;
  font-size: 12px;
  color: #939090;
}

.Monthly {
  color: white;
  display: block;
  justify-content: center;
  margin-top: 123px;
  margin-right: 30px;
  opacity: 0.8;
  font-size: 15px;
}
.number {
  color: white;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  font-size: 15px;
}
.btns-artist {
  display: flex;
  justify-content: space-between;
  width: 166px;
}
.play {
  border-radius: 15px;
  color: white;
  background-color: #05111c;
  width: 75px;
  height: 31px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s;
}
.play:hover {
  border: 1px solid #05111c;
  border-radius: 15px;
  color: #05111c;
  background-color: white;
  width: 75px;
  height: 31px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s;
}

.follow {
  border: 1px solid #05111c;
  border-radius: 15px;
  color: #05111c;
  background-color: transparent;
  width: 75px;
  height: 31px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s;
}
.follow:hover {
  border-radius: 15px;
  color: white;
  background-color: #05111c;
  width: 75px;
  height: 31px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition: all 0.3s;
}
.Playlist {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
}
.show {
  color: #7e7c7c;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.music-title {
  color: #7e7c7c;
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
.music-title > div {
  display: flex;
  width: 20%;
  height: 49px;

  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}

.music-01 {
  color: #545353;
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  transition: all 0.3s;
}
.music-01 > div {
  display: flex;
  width: 20%;
  height: 49px;

  justify-content: space-around;
  flex-direction: column;
  overflow: hidden;
}
.music-01:hover {
  height: 49px;
  background-color: white;
  color: black;
  font-size: 11px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: -11px 12px 2px 1px rgb(0 0 0 / 7%);
  transition: all 0.3s;
  padding: 5px 10px;
}

.music-01:hover .icon-sound {
  display: flex;
}

.icon-sound {
  display: none; /*Escondido*/
}

.icon-sound img {
  width: 35px;
}

.music-01:hover .music-number {
  display: none;
}
#Path_1 {
  width: 25px;
  height: 25px;
}
