* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.cotainer-geral {
  width: 100%;
  height: 100%;
  display: flex;
}

.container-left {
  width: 138%;
  max-width: 270px;
  height: 600px;
  overflow: hidden;
}
.container-right {
  height: 600px;
  background-color: rgba(0, 49, 87, 0.05);
  display: flex;
  width: 100%;
}

.logo {
  width: 100%;
}
.menu-geral {
  width: 90%;
  margin: auto;
}
.menu-item {
  border-radius: 10px;
  height: 40px;
  color: #767373;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 13px;
}
.menu-item:hover {
  background-color: rgb(14, 13, 13);
  color: white;
}
.menu-item svg {
  margin-right: 10px;
}
.menu-item:hover svg {
  fill: silver;
}

.sub-title {
  color: silver;
  font-size: 10px;
}
#divBusca {
  background-color: #ffffff;
  border: 1px solid rgb(243, 228, 228, 1);
  border-radius: 17px;
  width: 283px;
  height: 38px;
  display: flex;
  align-content: center;
  margin: 40px 20px;
}

#txtBusca {
  float: left;
  background-color: transparent;
  padding-left: 5px;
  font-style: italic;
  font-size: 11px;
  border: none;
  height: 32px;
  width: 260px;
}
.btns {
  margin: 40px 20px;
}

.top {
  display: flex;
  font-size: 11px;
  margin-bottom: 40px;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  width: 29px;
  text-align: center;
}
.back {
  border-radius: 50%;
  background-color: #acacac;
  color: black;
}
.back:hover {
  background-color: #ddd;
  color: black;
}
.next {
  border-radius: 50%;
  background-color: #acacac;
  color: rgb(8, 8, 8);
}
.next:hover {
  background-color: #ddd;
  color: rgb(8, 8, 8);
}
