* {
  margin: 0;
  padding: 0;
  font-family: Poppins;
}

.cotainer-geral {
  width: 100%;
  height: 100%;
  display: flex;
}

.container-left {
  width: 138%;
  max-width: 270px;
  height: 750px;
  overflow: hidden;
}

@media (max-width: 600px) {
  .container-left {
    display: none;
  }
}

.container-right {
  height: 750px;
  background-color: rgba(0, 49, 87, 0.05);
  display: flex;
  width: 100%;
  flex-direction: column;
}

.logo {
  width: 100%;
}
.menu-geral {
  width: 90%;
  margin: auto;
}
.menu-item {
  border-radius: 10px;
  height: 40px;
  color: #767373;
  display: flex;
  align-items: center;
  padding-left: 10px;
  margin: 10px 0;
  font-size: 13px;
}
.menu-item:hover {
  background-color: rgb(14, 13, 13);
  color: white;
}
.menu-item svg {
  margin-right: 10px;
}
.menu-item:hover svg {
  fill: silver;
}

.sub-title-banner {
  color: rgb(8, 8, 8);
  font-size: 40px;
}
.sub-title {
  color: silver;
  font-size: 11px;
}

#divBusca {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
}

#txtBusca {
  background-color: #ffffff;
  border: 1px solid rgb(243, 228, 228, 1);
  border-radius: 17px;
  width: 100%;
  height: 38px;
  display: flex;
  align-content: center;
  padding: 0 15px;
}
.btns {
  display: flex;
  align-items: center;
  padding-left: 20px;
}

.banner {
  display: flex;
  font-size: 11px;
  margin-bottom: 40px;
  border: 1px solid brown;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
}

a {
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  width: 29px;
  text-align: center;
}
.back {
  border-radius: 50%;
  background-color: #acacac;
  color: black;
}
.back:hover {
  background-color: #ddd;
  color: black;
}
.next {
  border-radius: 50%;
  background-color: #acacac;
  color: rgb(8, 8, 8);
}
.next:hover {
  background-color: #ddd;
  color: rgb(8, 8, 8);
}

.top {
  border: 1px solid red;
  display: flex;
  height: 100px;
}

.title-banner {
  border: 1px solid royalblue;
  display: flex;
  align-items: center;
}

.title-banner p {
  font-size: 12px;
  color: rgba(0, 49, 87, 0.7);
}

.title-banner svg {
  width: 25px;
  height: 20px;
}
.show-more {
  color: #7e7c7c;
  font-size: 11px;
  display: flex;
  align-items: end;
}
.banner-artist {
  display: flex;
  font-size: 11px;
  margin-bottom: 23px;
  height: 205px;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  background-image: url(https://images.unsplash.com/photo-1648471533584-e7c5040a5db2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto, contain, 100%;
  position: relative;
  border-radius: 17px;
}
.banner-left {
  z-index: 1;
  padding: inherit;
}
.cover-color {
  height: 100%;
  width: 50%;
  background: linear-gradient(
    90deg,
    rgba(246, 246, 246, 1) 24%,
    rgba(255, 255, 255, 0) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}
.sub-title-Ontop {
  height: 92px;
  width: 151px;
  font-size: 25px;
  margin-bottom: 30px;
}
.artist {
  margin-bottom: 10px;
  font-size: 12px;
  color: #939090;
}

.Monthly {
  color: white;
  display: block;
  justify-content: center;
  margin-top: 123px;
  margin-right: 30px;
  opacity: 20;
}
.number {
  color: white;
  display: flex;
  justify-content: center;
}
.btns-artist {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.play {
  border-radius: 8px;
  color: white;
  background-color: #05111c;
  width: 43px;
  align-items: center;
  justify-content: center;
  display: flex;
}
.follow {
  border: 1px solid #05111c;
  border-radius: 8px;
  color: #05111c;
  background-color: transparent;
  width: 51px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Playlist {
  border: #05111c 1px solid;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.show {
  color: #7e7c7c;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: end;
}
