* {
  padding: 0;
  margin: 0;

}

body {
  font-family: lato;
  background-color: #161719;
  font-size: 10px;
}

.container-geral {
  max-width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.container-top {
  display: flex;
  width: 99%;
  height: 30px;
  align-items: center;
  justify-content: space-between;
  padding: 3px 5px;
  border-bottom: 1px solid #2e2d2d;
}

.container-top svg {
  fill: #606161;
  margin-right: 15px;
  width: 11px;
}

#arrow-up {
  fill: #606161;
  margin-left: 70px;
}

#Caminho_1 {
  width: 15px;
  fill: rgb(255, 255, 255);
}

.icons-top-right {
  display: flex;
  align-items: center;
  flex-direction: row;

}

.icons-top-right:hover {
  fill: #FFFFFF;
  color: #FFFFFF;
  cursor: pointer;
}

.lupa {
  height: 35px;
  border-left: 1px solid #242527;

  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 12px;
}

.lupa #capa_1 :hover {
  fill: #FFFFFF;
  cursor: pointer;
  
}

.notification {
  height: 35px;
  border-left: 1px solid #242527;

  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 12px;
  position: relative;
}

.circle-red {
  border-radius: 100%;
  background-color: #f4729e;
  color: rgb(5, 5, 5);
  position: absolute;
  font-size: x-small;
  width: 13px;
  text-align: center;
  cursor: pointer;
}

.account {
  height: 35px;
  border-left: 1px solid #242527;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 12px;
}

.account p:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.account svg:hover {
  color: #FFFFFF;
  fill: #FFFFFF;
}

.account p {
  color: rgb(153, 150, 150);
}

.icons-left-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #606161;
  padding: 8px 15px;
  font-size: 12px;
}

.icons-left-top :hover {
  cursor: pointer;
  fill: #FFFFFF;
  color: #FFFFFF;
}

.box-leftright {
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.menu-itens-esconder {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  transition: 0.3s;

}

.menu-itens-esconder:hover {
  height: 301px;
  transition: 0.3s;

}

.menu-itens-esconder .sub-menu {
  position: absolute;
  top: 51px;
  left: 0;
  display: none;
}

.menu-itens-esconder:hover .sub-menu {

  display: block;
}

.container-left {
  width: 30%;
  overflow: hidden;
  max-width: 270px;
  background-color: #000000;
}

.menu-geral {

  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-top: 15px;
  margin-bottom: 50px;
  margin-left: 17px;
  cursor: pointer;
}

.menu-itens {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 17px;
  color: #898989;
  fill: #898989;
  height: 38px;
  width: -webkit-fill-available;
  padding: 0px 10px;
  transition: all 0.3s;
}

.menu-itens:hover {
  border-radius: 9px;
  background-color: rgb(34 32 34);
  color: rgb(255, 255, 255);
  fill: #27897b;
  font-weight: bolder;

  transition: all 0.3s;
}

.menu-itens svg {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.sub-menu {

  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 17px;
  color: #606161;
  flex-direction: column;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;



}

.sub-menu :hover {
  color: rgb(255, 245, 245);
  transition: all 0.3s;


}

.bell {
  display: flex;
  margin-left: 45px;
}

#directional {
  width: 10px;
  height: 10px;
}

.sub-title {
  align-items: center;
  justify-content: flex-start;
  margin-left: 41px;
  margin-bottom: 10px;
}

.more {
  display: flex;
  width: 65%;
  justify-content: space-around;
  color: #606161;
  padding: 0px 10px;
  cursor: pointer;
}

.barra {
  border: 1px solid #161616;
  width: 75%;
  box-shadow: -6px -5px 7px #211e24;
  margin-bottom: 10px;
}

.more svg {
  justify-content: flex-start;

  color: #606161;
  fill: #606161;
}

.container-right {

  background-color: #000000;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 4px 19px;
}

.cabecalho {
  display: flex;
  flex-direction: row;
  color: white;
  padding: 23px 0 0 0;
}

.title-integration {
  display: flex;
  flex-direction: row;
}

.title-integration-icon svg {
  width: 15px;
  height: 15px;
  fill: #27897b;
  margin-right: 10px;
}

.barra-right {
  display: flex;
  flex-direction: row;

}

.title-integration1 {
  color: white;
  font-size: 10px;
  margin-right: 10px;

}

.title-integration2 {
  color: #747474;
  font: size 13px;
}

.title-integration3 {
  color: #747474;
  font-size: 28px;

}

.btn-start {
  display: flex;
  border: 1px solid #00eed5;
  background-color: #00eed5;
  align-items: center;
  justify-content: center;
  margin-left: 25px;
  border-radius: 2px;
  width: 103px;
  height: 27px;
  cursor: pointer;


}

.btn-cancel {
  display: flex;
  border: 1px solid black;
  color: #00eed5;
  text-align: center;
  align-items: center;
  margin-left: 25px;
  border-radius: 4px;
  width: 104px;
  height: 32px;
  cursor: pointer;

}

.linha {
  border: 1px solid #262626;
  margin-top: 11px;

}

.box-icon-office {
  border: 1px solid transparent;
  background-color: #161719;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: calc(25% - 6px);
  opacity: 0.6;
  height: 186px;
  margin: 2px;



}

@media screen and (max-width: 900px) {
  /* Aplicar esse estilo com até tela de 900px */

  .box-icon-office {
    width: calc(50% - 5px);
  }
}

.ms-office {
  color: #4f4f4f;
  font-size: 17px;
  margin-top: 13px;
  margin-bottom: 13px;
  border: #4f4f4f;

}

.installed {
  align-self: flex-start;
  display: flex;
  flex-direction: row;
  font-size: 9px;
  color: #454545;
  padding: 10px;
  justify-content: center;
  align-items: center;
  transition: all .2s;
}

.installed p {
  color: white;
}

.installed svg {
  border: 1px solid transparent;

  border-radius: 80%;
  transition: all 0.3s;

}

.installed svg:hover {


  border: 1px solid #00eed5;
  border-radius: 80%;
  color: #00eed5;
  transition: all 0.3s;
}

.pai-preco {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;

  justify-content: space-between;


}

.preco {
  margin-right: 15px;
  display: flex;
  flex-direction: row;
  border: 1px solid #c18fff;
  background-color: #c18fff;
  width: 50px;
  height: 13px;

}

.preco p {
  align-items: center;
}


.img-office {
  width: 56px;
  height: 137px;
  fill: #454545;

}

img.cloud {
  width: 55px;
  height: 55px;
  filter: opacity(0.4) drop-shadow(0 0 0 red);
  -webkit-text-stroke-width: thick;
  mix-blend-mode: luminosity;

}

.img-office svg {
  width: 55px;
  height: 55px;
}

.img-office p {
  color: #737778;
  width: 67px;
  font-size: 8px;
  margin-top: 30px;
  text-align-last: justify;
  -webkit-text-stroke-width: thick;
  border-bottom-style: dotted;
}

#image0 {
  fill: #4f4f4f;
  width: 80px;
  height: 63px;
  margin-left: -12px;
}

.box-tools {
  margin-bottom: 21px;
  margin-top: 50px;
  color: #4f4f4f;
  ;
  font-size: 20px;
}

.box-tools2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  /* Aqui estamos falando que ele ira quebrar  a linha */
}

.img-tools1 img {
  margin-top: 5px;
  width: 55px;
  height: 55px;
  mix-blend-mode: luminosity;
}

.img-tools1 p {
  color: #4d4e50;
  width: 67px;
  font-size: 9px;
  margin-top: 30px;
  text-align-last: justify;
  -webkit-text-stroke-width: thick;
  border-bottom-style: dotted;
}

.img-tools2 {
  width: 118px;
  height: 147px;

}

.img-tools2 img {
  margin-top: 5px;
  margin-left: -22px;
  width: 156px;
  height: 92px;
  mix-blend-mode: luminosity;
}

.img-tools2 p {
  color: #4d4e50;
  width: 64px;
  font-size: 9px;
  margin-top: 13px;
  margin-left: 29px;
  text-align-last: justify;
  -webkit-text-stroke-width: thick;
  border-bottom-style: dotted;
}

.img-tools3 svg,
.img-tools3 img {
  margin-top: 5px;
  width: 55px;
  height: 55px;
  mix-blend-mode: luminosity;



}

.img-tools3 svg {
  margin-top: 5px;
  width: 55px;
  height: 55px;
  mix-blend-mode: luminosity;
  fill: #4f4f4f;
  fill-rule: #4f4f4f;
  height: 55px;
  fill: rgb(153, 150, 150);
}

.box-icon-office:hover {
  border: 1px solid #00eed5;
  cursor: pointer;
  background-color: #202626;
  opacity: 1.6;
}


.box-icon-office svg, .box-icon-office img, .box-icon-office g {
  opacity: 0.5;
  transition: all 0.6s;
}

.box-icon-office:hover svg, .box-icon-office img:hover, .box-icon-office:hover g{
  opacity: 1;
  fill:white;

  transition: all 0.2s;
}


#capa_1:hover {
  fill: #FFFFFF;
  border: 1px solid #00eed5;
  cursor: pointer;

}

.img-tools3 p {
  color: #4d4e50;
  width: 67px;
  font-size: 9px;
  margin-top: 30px;
  text-align-last: justify;
  -webkit-text-stroke-width: thick;
  border-bottom-style: dotted;
}

.box-tools3 {
  display: flex;
  flex-direction: row;
}

.box-icon-office:hover .installed p {
  color: black;
  transition: all .2s;
}

.box-icon-office:hover .installed {
  transition: all .2s;
  background: #00eed5;
  border-radius: 100px;
  padding: 5px 10px;
  margin-left: 10px;

}

.redondo-igual-a-boca-do-rener {
  background: #000000;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  padding: 3px;
  margin-right: 5px;
  transition: all .2s;
  background: #00eed5;
}