* {
  padding: 0;
  margin: 0;
  
}
body {
  background-color: rgb(5, 5, 5);
}
.container-geral {
  max-width: 100%;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}
.container-top{
  border: 1px solid silver;
  display: flex;
  width:100%;
  height:30px;
  color:white;
  align-items:center;
  justify-content:center;

}
.box-leftright{
  justify-content:center;
  display: flex;
  flex-direction:row;
}

.container-left {
  border: 1px solid #dbc710;
  width: 138%;
  height: 750px;
  overflow: hidden;
  max-width: 270px;
}
.cabecalho p {
  color: white;
}
.menu-geral {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  margin-bottom: 50px;
  cursor: pointer;
}

.menu-itens {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  color: rgb(153, 150, 150);
  fill: rgb(153, 150, 150);
  height: 47px;
  width: 100%;
  padding: 0px 10px;
  transition: all 0.3s;
}

.menu-itens:hover {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: 20px;
  border-radius: 8px;
  background-color: rgb(34 32 34);
  color: rgb(255, 255, 255);
  fill: rgb(89 183 155);
  font-weight: bolder;

  height: 47px;
  width: 100%;
  transition: all 0.3s;
}
.menu-itens svg {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}
.sub-menu {
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 20px;
  color: rgb(153, 150, 150);
  flex-direction: column;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
 

}
.sub-menu :hover {
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  font-size: 20px;
  color: rgb(255, 245, 245);
  flex-direction: column;
  width: 100%;
  transition: all 0.3s;
  cursor: pointer;
 
}

.sub-title {
  border: 1px solid brown;
  align-items: center;
  justify-content: flex-start;
  margin-left: 41px;

}

.more {
  display: flex;
  width: 92%;
  justify-content: space-around;
  border: 1px solid blueviolet;
  color: rgb(255, 255, 255);
  padding: 0px 10px;
}
.barra {
  border: 1px solid rgb(153, 150, 150);
  width: 97%;
  box-shadow: -6px -5px 7px #3e2358;
  margin-bottom: 10px;
}
.more svg {
  justify-content: flex-start;
  border: 1px solid blueviolet;
  color: rgb(153, 150, 150);
  fill: rgb(153, 150, 150);
}
.container-right {
  border: 1px solid green;
  height: 750px;
  background-color: rgba(0, 0, 0, 0.199);
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 4px 19px;
}
