*{
    margin:0;
    padding:0;
}

body{
    background-color:rgb(237, 237, 254);
}

.btn-animation{
    font-size:19px;
    font-family:Poppins;
    background-color: rgb(255,255,255);
    justify-content: center;
    align-items: center;
    display: inline-flex;
    margin: 50px;
    border-radius:10px;
    height: auto;
    padding:10px 15px;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 4%);
    cursor:pointer;

    transition: all 0.2s;
}

.icon {
    width:30px;
    margin:0 10px 0 0 ;
    stroke: rgb(175, 175, 175);

    transition: all 0.2s;
}

.btn-animation:hover .icon{
    stroke: #1E2035;
    transition: all 0.2s;
}

.btn-animation:hover{
    transform: scale(1.1);
    transition: all 1s;
}



.btn-animation-2{
    font-size:20px;
    font-family: Roboto;
    background-color: #1E2035;
    color: rgb(237, 237, 254);
    border-radius: 10px;
    display: inline-flex;
    justify-content: center;
    height:auto;
    padding:10px 15px;
    align-items:center;
    box-shadow: 3px 3px 8px rgb(0 0 0 / 9%);
    cursor:pointer;
    margin: 50px;
    transition: all 0.2s;

    
}

.icon-2{
    fill:rgba(255, 255, 255, 0.55);
    height:25px;
    width: 25px;
    margin-right:10px;
    transition: all 0.2s;

}


.btn-animation-2:hover{
    background-color: rgb(255,255,255);
    color: black;
    transition: all 0.2s;
}


.btn-animation-2:hover .icon-2{
    transform: rotate(73deg);
    fill:#1E2035;
    transition: all 0.2s;
}
