body {
  background-color: rgb(255, 255, 255);
}
* {
  margin: 0;
  padding: 0;
}

.conteiner {
  display: flex; /*trasformei em flex*/
  justify-content: center; /* centralizei verticalmente */
  align-items: center; /* centralizei horizontalmente */
  flex-direction: column; /* Tirei eles da mesma linha e separei as duas divs em linhas diferentes */
  background-color: rgb(192, 192, 192);
  width: 350px;
  height: 150px;
  border-radius: 4px;
  box-shadow: 5px 5px 5px 5px rgb(2, 212, 177);
  margin-bottom: 40px;
}

.btn-1 {
  background-color: rgb(2, 212, 177);
  border-radius: 15px;
  padding: 7px;
  width: auto;
  align-items: center;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
}
.btn-1:hover {
  background-color: rgb(2, 107, 90);
  padding: 7px;
  width: 70px;
  align-items: center;
  text-align: center;
  margin-top: 40px;
  transition: all 0.3s;
  cursor: pointer;
}
.conteudo {
  text-align: center;
}
.card {
  border: 2px solid rgb(0, 0, 255) auto;
  text-align: center;
}
.box-pai {
  background-color: rgb(180, 178, 178);
  width: 352px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 7px;
  box-shadow: 5px 5px 5px 5px rgb(2, 212, 177);
}

.btn-Alana {
  background-color: rgb(230, 16, 219);
  align-items: center;
  border-radius: 4px;
  padding: 7px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s;
  display: inline-block;
  justify-content: center;
  box-shadow: 3px 3px 8px rgb(61, 1, 59);
}
.btn-Alana:hover {
  background-color: rgb(238, 224, 237);
  color: rgb(245, 10, 237);
  align-items: center;
  border-radius: 4px;
  padding: 7px;
  margin-top: 40px;
  cursor: pointer;
  transition: all 0.3s;
  box-shadow: 7px 7px 5px 5px rgb(61, 1, 59);
}
.btn-Emilly {
  background-color: rgb(61, 1, 70);
  border-radius: 6px;
  margin-top: 40px;
  margin-left: 10px;
  padding: 7px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
}
.btn-Emilly:hover {
  color: rgb(61, 1, 70);
  background-color: rgb(253, 251, 253);
  border-radius: 6px;
  margin-top: 40px;
  padding: 7px;
  cursor: pointer;
  display: inline-block;
  transition: all 0.3s;
  box-shadow: 5px 5px 5px 5px rgb(61, 1, 70);
}
.btn-Compartilhar {
  align-items: center;
  display: inline-block;
  background-color: rgb(18, 18, 241);
  color: rgb(255, 255, 255);
  padding: 7px;
  border-radius: 3px;
  font-size: 14px;
  font-family: Georgia;
  cursor: pointer;
  margin: 10px;
}
.icon {
  fill: rgba(255, 255, 255);
  height: 13px;
  width: 20px;
  transition: all 0.2s;
}
.btn-comprar {
  display: inline-block;
  padding: 7px;
  background-color: rgb(204, 50, 3);
  color: rgb(247, 245, 245);
  width: 115px;
  height: 21px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 10px;
}

.btn-Mlivre {
  background-color: rgb(250, 221, 4);
  display: inline-flex;
  padding: 5px 17px 5px 5px;
  font-family: "Proxima Nova", -apple-system, "Helvetica Neue", Helvetica,
    Roboto, Arial, sans-serif;
  border-radius: 7px;
  margin: 10px;
}
.btn-Mlivre p {
  display: flex;
  align-items: center;
}
.mobile {
  height: 23px;
  width: 20px;
  transition: all 0.2s;
  padding: 7px;
}
